@font-face {
    font-family: 'x14y24pxHeadUpDaisy';
    src: url('fonts/x14y24pxHeadUpDaisy.woff2') format('woff2'),
        url('fonts/x14y24pxHeadUpDaisy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    font-family: 'x14y24pxHeadUpDaisy';
    font-size: 24px;
    background-color: #111119;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: 400;
}

a {
    color: #fefefe;
}

.links {
    margin-bottom: 32px;
}