<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, noarchive" />
    <meta name="format-detection" content="telephone=no" />
    <title>jefvel.net</title>
    <link rel="stylesheet" href="/stylesheet.css" />
  </head>
  <body>
    <h1>jefvel</h1>
    <div class="links">
      <a href="//jefvel.newgrounds.com">newgrounds</a>
      <a href="//twitter.com/jefvel">twitter</a>
      <a href="//github.com/jefvel">github</a>
    </div>
  </body>
</html>
